@model IEnumerable<SmartHome.Models.Scheduler>


@{
    ViewData["Title"] = "Calendar";
}

<h2>Schedules Calendar</h2>

<div id="calendar"></div>



<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.print.css" rel="stylesheet" />

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.8.2/fullcalendar.min.js"></script>


}

<table>
    <tbody>
    @foreach (var item in Model)
    {
        <p>
            @Html.DisplayFor(modelItem => item.startTime)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.endTime)
        </p>
    }
    </tbody>
</table>
